---
const Pendukung: { nama: string; logo: string }[] = [
  {
    nama: "AlQolam web",
    logo: "src/public/01.webp",
  },
  {
    nama: "AlQolam web",
    logo: "src/public/07.webp",
  },
  {
    nama: "Murun",
    logo: "src/public/02.webp",
  },
  {
    nama: "tesaw",
    logo: "src/public/03.webp",
  },
  {
    nama: "pokoke",
    logo: "src/public/04.webp",
  },
  {
    nama: "anoo",
    logo: "src/public/05.webp",
  },
  {
    nama: "Assqwe",
    logo: "src/public/06.webp",
  },
];

const supported = Object.keys(Pendukung);
const dukungan = supported.map((key) => supported[key]);
---

<section>
  <h2>Powered By</h2>
  <div>
    <div class="flex">
      {
        Pendukung.map(({ nama, logo }) => (
          <div class="flex">
            <h2>{nama}</h2>
            <img src={logo} />
          </div>
        ))
      }
    </div>
  </div>
</section>
